.custom-toolbar {
  --background: #1e1e1e;
  --color: #ffffff;
  text-align: center;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header h2 {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.contact-info-card, .contact-form ion-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info-icon ion-icon {
  font-size: 30px;
  line-height: 70px;
  color: #1da9c0;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #333;
  font-size: 1em;
}


.contact-form h2 {
  color: #333;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.send-button {
  --background: #00bcd4;
  --color: #ffffff;
  margin-top: 20px;
}

.send-button:hover {
  --background: #ffffff;
  --color: #00bcd4;
  border: 1px solid #00bcd4;
}

ion-content {
  --background: url('https://images.pexels.com/photos/3184431/pexels-photo-3184431.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
  position: relative;
  overflow-y: auto;
  height: 100vh;
}


ion-content::after {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1); 
}


ion-content::-webkit-scrollbar {
  width: 8px;
}

ion-content::-webkit-scrollbar-thumb {
  background-color: #1da9c0;
  border-radius: 10px;
}

ion-content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .section-header h2 {
    font-size: 2.5em;
  }

  .section-header p {
    font-size: 1em;
  }

  .contact-info-item, .contact-info-icon {
    margin-bottom: 20px;
  }

  ion-content::after {
    background-color: rgba(0, 0, 0, 0.2); 
  }
}

@media (max-width: 480px) {
  .section-header h2 {
    font-size: 2em;
  }

  .section-header p {
    font-size: 0.9em;
  }

  .contact-info-item, .contact-info-icon {
    margin-bottom: 15px;
  }

  .contact-info-icon ion-icon {
    font-size: 24px;
    line-height: 60px;
  }

  .contact-info-icon {
    height: 60px;
    width: 60px;
  }

  .contact-form h2 {
    font-size: 1.8em;
  }

  .send-button {
    font-size: 16px;
  }
}
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #35327b; 
}

::-webkit-scrollbar-thumb {
  background-color: #831e79;
  border-radius: 10px; 
  border: 3px solid #5645ad;
}

::-webkit-scrollbar-thumb:hover {
  background: #5645ad; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3060ad white;
}
