<ion-content>
  <div class="section-header">
   <div>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h2>Contact Us</h2></div>
    <p></p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" class="contact-info">
        <ion-card class="contact-info-card">
          <ion-card-content>
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <ion-icon name="home-outline"></ion-icon>
              </div>
              <div class="contact-info-content">
                <h4>Address</h4>
                <p>4671 Sugar Camp Road, Owatonna, Minnesota, 55060</p>
              </div>
            </div>
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>
              <div class="contact-info-content">
                <h4>Phone</h4>
                <p>571-457-2321</p>
              </div>
            </div>
            <div class="contact-info-item">
              <div class="contact-info-icon">
                <ion-icon name="mail-outline"></ion-icon>
              </div>
              <div class="contact-info-content">
                <h4>Email</h4>
                <p>ntamerrwael</p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" class="contact-form">
        <ion-card>
          <ion-card-content>
            <h2>Send Message</h2>
            <form>
              <ion-item>
                <ion-label position="floating">Full Name</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Message</ion-label>
                <ion-textarea></ion-textarea>
              </ion-item>

              <ion-button expand="block" type="submit" class="send-button">Send</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
