.page-content {
    --background: linear-gradient(to bottom, #4e54c8, #8f44fd);
    padding: 20px; /* Add padding to the content */
  }
  
  .custom-header {
    --background: linear-gradient(to right, #4e54c8, #8f44fd);
    height: 100px; /* Adjust height for the header */
  }
  
  /* Form styling */
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  