<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div class="profile-image-container">
    <ion-img src="assets/images/profile-placeholder.png" alt="Profile Image" class="profile-image"></ion-img>
  </div>

  <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text" name="fullName" required [(ngModel)]="user.fullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" required [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" name="phone" required [(ngModel)]="user.phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea name="bio" required [(ngModel)]="user.bio"></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!profileForm.form.valid">
      Save Changes
    </ion-button>
  </form>
</ion-content>
