<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="search-container">
      <ion-title class="header-title">Books</ion-title>
      <ion-input placeholder="Search Books..." class="search-input"></ion-input>
      <ion-button class="search-button" (click)="searchBooks()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="page-content">
  <div class="category-section">
    <h2 class="category-title">Artificial Intelligence</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3" *ngFor="let aiBook of aiBooks">
          <ion-card class="course-card">
            <ion-img src="{{ aiBook.image }}" alt="{{ aiBook.title }}"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ aiBook.title }}</ion-card-title>
              <ion-card-subtitle>{{ aiBook.subtitle }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ aiBook.description }}
              <ion-button expand="full" (click)="openBook(aiBook.url)">Read More</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="category-section">
    <h2 class="category-title">Web Development</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3" *ngFor="let webBook of webBooks">
          <ion-card class="course-card">
            <ion-img src="{{ webBook.image }}" alt="{{ webBook.title }}"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ webBook.title }}</ion-card-title>
              <ion-card-subtitle>{{ webBook.subtitle }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ webBook.description }}
              <ion-button expand="full" (click)="openBook(webBook.url)">Read More</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="category-section">
    <h2 class="category-title">Data Science</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3" *ngFor="let dataBook of dataScienceBooks">
          <ion-card class="course-card">
            <ion-img src="{{ dataBook.image }}" alt="{{ dataBook.title }}"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ dataBook.title }}</ion-card-title>
              <ion-card-subtitle>{{ dataBook.subtitle }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ dataBook.description }}
              <ion-button expand="full" (click)="openBook(dataBook.url)">Read More</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="category-section">
    <h2 class="category-title">Cyber Security</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3" *ngFor="let cyberBook of cyberBooks">
          <ion-card class="course-card">
            <ion-img src="{{ cyberBook.image }}" alt="{{ cyberBook.title }}"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ cyberBook.title }}</ion-card-title>
              <ion-card-subtitle>{{ cyberBook.subtitle }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ cyberBook.description }}
              <ion-button expand="full" (click)="openBook(cyberBook.url)">Read More</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
