
<ion-content class="custom-content">
  <div class="wrapper">
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
  </div>



        <ion-card class="login-card">
          <ion-card-header class="card-header">
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item class="custom-item">

              <ion-label position="floating" required>Email</ion-label>
              <ion-input [(ngModel)]="email" type="email"></ion-input>
            </ion-item>

            <ion-item class="custom-item">
              <ion-label position="floating" required>Password</ion-label>
              <ion-input [(ngModel)]="password" type="password"></ion-input>
            </ion-item>

            <ion-button expand="full" (click)="login()" class="login-button" required>Login</ion-button>

            <div class="signup-container">
              <p>Create New Account?
                <a routerLink="/signup" class="signup-link">Sign Up</a>
              </p>
            </div>

            <ion-button expand="full" class="google-login-button" (click)="googleLogin()">
              <ion-icon name="logo-google" slot="start"></ion-icon>
              Login with Google
            </ion-button>


           <ion-button expand="full" class="reset-password-button" (click)="resetPassword()">
            Reset Password
           </ion-button>

          </ion-card-content>
        </ion-card>


</ion-content>
