.custom-content {
  --background: linear-gradient(to bottom, #1d2671, #c33764);  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  background: rgba(255, 255, 255, 0.2);  
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(10px);  
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.card-header {
  font-size: 2rem;
  font-weight: bold;
}

.custom-item {
  --background: transparent;
  --highlight-height: 2px;
  --highlight-color-focused: #fff; 
  --color-focused: #fff; 
  margin-bottom: 1rem;
}

ion-label {
  color: #fff;  
}

ion-input {
  color: #fff; 
}

.login-button {
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 50px;
  --background: #ff4081;
  --color: #fff;
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);  // Box shadow
  padding: 0.8rem 0;
  font-size: 1rem;
}

.signup-container {
  margin-top: 1rem;
  color: #fff;
}

.signup-link {
  color: #ff4081;
  font-weight: bold;
}

.google-login-button {
  margin-top: 1rem;
  width: 100%;
  border-radius: 50px;
  --background: linear-gradient(45deg, #fbc7d4, #9796f0);  // Gradient for Google login button
  --color: #fff;
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);  // Box shadow
  padding: 0.8rem 0;
  font-size: 1rem;
}

.back-button {
  color: #fff;
  --color: white;
  font-size: 1.2rem;
}
