
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/course">Courses</ion-item>
      <ion-item routerLink="/books">Books</ion-item>
      <ion-item routerLink="/tests">Practice Tests</ion-item>
      <ion-item routerLink="/profile">Profile</ion-item>
      <ion-item routerLink="/contact">Contact</ion-item>
  <ion-button expand="full" color="success" class="login-btn" [routerLink]="['/login']">Login</ion-button>
  <ion-button expand="full" color="success" class="logout-btn" [routerLink]="['/signup']">Sign Up</ion-button>
</ion-list>

