<ion-menu side="start" menuId="first" contentId="main-content">
</ion-menu>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [routerLink]="['/sidebar']">
       
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Online Education
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-item class="search-bar-header">
        <ion-input placeholder="Search..." clearInput></ion-input>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="header-bg">
    <h1 class="title">Online Education App</h1>
  </div>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Books</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="grid hover-grid">
        <ion-card *ngFor="let book of books"></ion-card>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Course</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="grid hover-grid">
        <ion-card class="click-effect" *ngFor="let book of books"></ion-card>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="hover-test-card click-effect">
    <ion-card-header>
      <ion-card-title>Practice Test</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="primary" *ngFor="let test of tests">
        <ion-label>{{ test }}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
