ion-content {
  --background: linear-gradient(to top, #843cf6, #3b82f6);
  padding: 0;
  margin: 0;
  height: 100%;


  &::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
    scrollbar-width: none;
  }

  
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px; 
  }


  scrollbar-width: thin; 
}


.header-bg {
  background: linear-gradient(to right, #c4e0e5, #4ca1af);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.title {
  font-size: 24px;
  color: white;
  font-weight: bold;
}


.search-bar-header {
  padding: 10px;
  border-radius: 20px;
  color:white;
 
}

.search-bar-header:hover{
  color: white;
}
.search-bar-header ion-input {
  --padding-start: 10px;
  border-radius: 20px;
}

.search-bar-header ion-button {
  --color: #3b82f6;
}


ion-card {
  margin: 10px 0;
  background: transparent;
  border: none;
}

ion-card-header {
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

ion-card-content {
  padding: 10px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

ion-card-content ion-card {
  height: 100px;
  background-color: white;
  border-radius: 10px;
}


ion-chip {
  --background: white;
  color: #000;
  margin: 5px;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

ion-chip ion-label {
  font-weight: bold;
}


.menu-list ion-item {
  margin-top: 10px;
  --background: transparent;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-list ion-item ion-icon {
  font-size: 20px;
  color: white;
}

.menu-list ion-label {
  color: white;
  font-size: 16px;
}
// /* Remove hover effect from individual cards */
ion-card {
  transition: none;
}

/* Apply hover effect to the grid */
.hover-grid {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-grid:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Apply hover effect to the Practice Test card */
.hover-test-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-test-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


// cursor css 
.click-effect {
  position: relative;
  overflow: hidden;
}

.click-effect::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s, opacity 1s;
  pointer-events: none;
}

.click-effect:active::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.footer-toolbar {
  background: linear-gradient(180deg, #5b73e8, #4e3757);
  padding: 20px;
}

.footer-container {
  text-align: left;
  color: #fff;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 10px 0;
}

.footer-links ion-icon {
  margin-right: 8px;
  font-size: 18px;
  color: #fff;
}
